body{
	color:#111;
	font-family: "Arial", cursive, sans-serif;
}

button{
    font-size: 16px;
}

#header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.pw-container {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
    display: flex;
}

.pw-container > div {
  flex: 1; /*grow*/
}

#userdiv{
    width: 95%;
    margin: auto;
}

.pw-box{
    width: 20%;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#bank{
    margin-left: 10px;
    margin-right: 10px;
}

.pw-button{
    background-color: #4CAF50; /* Green */
    border-radius: 8px;
    font-size: 16px;
    color: white;
    padding: 8px 28px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kb-container {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
}

#keyboard{
    margin: auto;
    width: 45%;
}

#PIN{
    white-space:pre-wrap;
}

.action-button{
    display: block;
    margin: auto;
    visibility: hidden;
    padding: 8px 28px;
}

#sequence{
    display:inline-block;
    align: center;
}

div.square{
	border:4px solid white;
	border-radius:10px;
	padding:10px;
	width:50px;
	height:50px;
	vertical-align:top;
	display:inline-block;
	margin:5px;
}

.red0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      red 10px,
      red 20px
    );
}

.orange0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      orange 10px,
      orange 20px
    );
}

.yellow0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      yellow 10px,
      yellow 20px
    );
}

.green0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      green 10px,
      green 20px
    );
}

.blue0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      blue 10px,
      blue 20px
    );
}

.purple0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      darkorchid 10px,
      darkorchid 20px
    );
}

.brown0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      saddlebrown 10px,
      saddlebrown 20px
    );
}

.pink0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      pink 10px,
      pink 20px
    );
}

.black0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      black 10px,
      black 20px
    );
}

.grey0{
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      silver 10px,
      silver 20px
    );
}

#feedback, #PIN {
    margin: auto;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 16px;
}

#feedback{
    margin-top: 10px;
}

#ok-button{
    background-color: #87CEFA; /* Blue */
    margin-top: 10px;
    font-size: 16px;
}

div.square.highlight{
    border: 6px solid gray;
}


