body{
	color:#111;
	font-family: "Arial", cursive, sans-serif;
}

#header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.pw-container {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
    display: flex;
}

.pw-container > div {
  flex: 1; /*grow*/
}

#userdiv{
    width: 95%;
    margin: auto;
}

.pw-box{
    width: 20%;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#bank{
    margin-left: 10px;
    margin-right: 10px;
}

.pw-button{
    background-color: #4CAF50; /* Green */
    border-radius: 8px;
    font-size: 12px;
    color: white;
    padding: 8px 28px;
    align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kb-container {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
}

#PIN{
    white-space:pre-wrap;
}
#sFormT {
	visibility: hidden;
}
#eFormT {
	visibility: hidden;
}
#bFormT {
	visibility: hidden;
}
#testboxs {
	visibility: hidden;
}
#a-button {
  visibility: hidden;
}
